<section class="block container grid grid--1x3">
    <header class="block__header">
        <h2>Be a part of our Community!</h2>
        <p>Join the thousands of satisfied users who have already benefited from our app.</p>
    </header>
    <article class="feature">
        <div class="feature__content" data-aos="fade-right">
            <!-- <span class="icon-container">
                <svg class="icon icon--primary">
                    <use href="images/icons/rider.svg"></use>
                </svg>
            </span> -->
            <img src="images/icons/rider.svg" alt="" />
            <h3 class="feature__heading">Become a Dasher</h3>
            <p>As a delivery driver, you'll make reliabe money-working anytime, anywhere.</p>
            <a href="#" class="link-arrow">Start earning</a>
        </div>
    </article>
    <article class="feature">
        <div class="feature__content" data-aos="fade-up">
            <!-- <span class="icon-container">
                <svg class="icon icon--primary">
                    <use href="images/icons/shop.svg"></use>
                </svg>
            </span> -->
            <img src="images/icons/shop.svg" alt="" />
            <h3 class="feature__heading">Become a Partner</h3>
            <p>Grow your business and reach new customers by partnering with us.</p>
            <a href="#" class="link-arrow">Get started</a>
        </div>
    </article>
    <article class="feature">
        <div class="feature__content" data-aos="fade-left">
            <!-- <span class="icon-container">
                <svg class="icon">
                    <use href="images/icons/phone.svg"></use>
                </svg>
            </span> -->
            <img src="images/icons/phone.svg" alt="" />
            <h3 class="feature__heading">Try the App</h3>
            <p>Busy schedule? No problem - our delivery service fits around you.</p>
            <a href="#" class="link-arrow">Get the app</a>
        </div>
    </article>
</section>
